// Specific CSS for your home-page

$peach: #F17A7E;

.nav-bar {
  width: 1440px;
  height: 114px;
  background: #F9FAF4;
}

.logo {
  width: 104px;
  height: 104px;
  background: white;
}

.card {
  width: 250px;
  height: 250px;
  background: #F17A7E;
}

.create-button {
  background-color: $peach;
  border-radius: 4px;
  color: white;
  &:hover {
  background-color: #FFC94B;
  }
}

.card-product {
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 15px;

  justify-content: space-around;
  height: 200px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  overflow: hidden;
  &.create-button {
    padding: 8px;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-product p {
  font-size: 12px;
  line-height: 2;
  opacity: .7;
  margin-bottom: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
    position: relative;
  overflow: scroll;
  height: 100%;
  & a {
    text-decoration: none;
    color: black;
  }
}

.container {
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
}


.container-show {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
}

// .banner {
//   text-align: center;
//   display: flex;
//   justify-content: space-around;
//   border-radius: 16px;
//   border: 1px solid #ddd;
//   padding: 15px;
//    width: 46px;
//   height: 44px;
// }

.image {
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
  height: 250px;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.description {
  justify-content: center;
  // text-align: center;
  // display: center;
  padding-left: 370px;
}

.container-logo {
  justify-content: center;
  text-align: center;
}

