// Specific CSS for your home-page


.nav-bar {
  width: 1440px;
  height: 114px;
  left: 0px;
  top: 0px;
  background: #F9FAF4;
}

.logo {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 19px;
  top: 5px;
  background: white;
}

.card {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 49px;
  top: 251px;

  background: #F17A7E;
}
