.left-button {
  // padding-top: 40px;
  margin-left: 8px;
  color: white;
}

.image {
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
  height: 250px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.space {
   margin-bottom: 50px;
}

.add-padding {
  padding-top: 40px;
}

#map {
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ddd;
}

