.left-button {
  position: absolute;
  top:22%;
  left: 0;
  width: 120px;
  transform: translateY(-50%);
  color: white;
}

.image {
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
  height: 250px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}



