<% if artwork.photo.attached? %>
<%= cl_image_tag artwork.photo.key, width: 190, crop: :scale %>
<% end %>
                <%# <div class="card-product-infos"> %>
<%= link_to artwork.name, artwork_path(artwork) %>
<p><i class="fas fa-user-alt"></i> <%= artwork.artist_name %></p>
<p><i class="fas fa-pound-sign"></i> <%= artwork.price_per_day %> per day</p>